$wrapper-width: 1420;
$breakpoint-xs: calc((1/3) * $wrapper-width);
$breakpoint-s: calc((1/2) * $wrapper-width);
$breakpoint-m: calc((2/3) * $wrapper-width);
$breakpoint-l: calc(1 * $wrapper-width);
$breakpoint-xl: calc((1 + (1/3)) * $wrapper-width);

:root {
    --flecss__wrapper-width: #{$wrapper-width}px;
}

@mixin breakpoint($px, $min: false) {
    $boundary: "max";
    @if $min {
        $boundary: "min";
        $px: $px - 1;
    }
    @media (#{$boundary}-width: #{$px}px) {
        @content;
    }
}

@mixin breakpoint--xs($min: false) {
    @include breakpoint($breakpoint-xs, $min) {
        @content;
    }
}
@mixin breakpoint--s($min: false) {
    @include breakpoint($breakpoint-s, $min) {
        @content;
    }
}
@mixin breakpoint--m($min: false) {
    @include breakpoint($breakpoint-m, $min) {
        @content;
    }
}
@mixin breakpoint--l($min: false) {
    @include breakpoint($breakpoint-l, $min) {
        @content;
    }
}
@mixin breakpoint--xl($min: false) {
    @include breakpoint($breakpoint-xl, $min) {
        @content;
    }
}