@use "flecss:vars" as vars;


@mixin breakpoint($px, $min: false) {
    $boundary: "max";
    @if $min {
        $boundary: "min";
        $px: $px - 1;
    }
    @media (#{$boundary}-width: #{$px}) {
        @content;
    }
}

@mixin breakpoint--xs($min: false) {
    @include breakpoint(vars.$breakpoint-xs, $min) {
        @content;
    }
}
@mixin breakpoint--s($min: false) {
    @include breakpoint(vars.$breakpoint-s, $min) {
        @content;
    }
}
@mixin breakpoint--m($min: false) {
    @include breakpoint(vars.$breakpoint-m, $min) {
        @content;
    }
}
@mixin breakpoint--l($min: false) {
    @include breakpoint(vars.$breakpoint-l, $min) {
        @content;
    }
}
@mixin breakpoint--xl($min: false) {
    @include breakpoint(vars.$breakpoint-xl, $min) {
        @content;
    }
}