@mixin font($name, $path, $weight: 400) {
    @font-face {
        font-family: "#{$name}";
        font-weight: #{$weight};
        font-display: swap;
        src: local("#{$path}"), url("#{$path}");
    }
}