$space-dimensions: (
    "zero": null,
    "extra-extra-small": -3, "xxs": -3,
    "extra-small": -2, "xs": -2,
    "small": -1, "s": -1,
    "medium": 0, "m": 0,
    "large": 1, "l": 1,
    "extra-large": 2, "xl": 2,
    "extra-extra-large": 3, "xxl": 3
);

:root {
    --flecss__space--l: 1.75rem;
    --flecss__space--m: 1.5rem;
    --flecss__space--s: 1.35rem;
    --flecss__space: var(--flecss__space--l);
    --flecss__space-factor: 1.75;

    @include flecss_breakpoint--m {
        --flecss__space: var(--flecss__space--m);
    }
    @include flecss_breakpoint--s {
        --flecss__space: var(--flecss__space--s);
    }
}

@function flecss-space($dimension: "m", $negative: false) {
    $power: null;
    @if map-has-key($space-dimensions, $dimension) {
        $power: map-get($space-dimensions, $dimension);
    }
    @if not $power {
        @return 0;
    }

    $factor: 1;
    @if $negative {
        $factor: -1;
    }

    @return calc($factor * var(--flecss__space) * pow(var(--flecss__space-factor), $power));
}