@use "../variables/space" as vars;


$space-dimensions: (
    "zero": null,
    "extra-extra-small": -3, "xxs": -3,
    "extra-small": -2, "xs": -2,
    "small": -1, "s": -1,
    "medium": 0, "m": 0,
    "large": 1, "l": 1,
    "extra-large": 2, "xl": 2,
    "extra-extra-large": 3, "xxl": 3
);

@function space($dimension: "m", $negative: false) {
    $power: null;
    @if map-has-key($space-dimensions, $dimension) {
        $power: map-get($space-dimensions, $dimension);
    }
    @if not $power {
        @return 0;
    }

    $factor: 1;
    @if $negative {
        $factor: -1;
    }
    
    @return calc($factor * vars.$space * pow(vars.$space-factor, $power));
}