$max-textwidth: 37.5rem;
$max-wrapper-width: 1320px;

$breakpoint-xs: calc((1/3) * $max-wrapper-width);
$breakpoint-s: calc((1/2) * $max-wrapper-width);
$breakpoint-m: calc((2/3) * $max-wrapper-width);
$breakpoint-l: calc(1 * $max-wrapper-width);
$breakpoint-xl: calc((1 + (1/3)) * $max-wrapper-width);