@use "./../_util";

@use "../util/mixins/breakpoint";


$space--l: 1.75rem;
$space--m: 1.6rem;
$space--s: 1.5rem;

$space-factor: 2;

:root {
    @include util.property-variable("space", $space--l);
    @include util.property-variable("space-factor", $space-factor);
    
    @include breakpoint.breakpoint--m {
        @include util.property-variable("space", $space--m);
        @include util.property-variable("space-factor", 0.9 * $space-factor);
    }
    @include breakpoint.breakpoint--s {
        @include util.property-variable("space", $space--s);
        @include util.property-variable("space-factor", 0.8 * $space-factor);
    }
}