.badge {
    display: inline-block;
    align-self: center;
    padding: 0.2em 0.35em;
    background-color: flecss-color("primary");
    color: flecss-color("fg-light");
    border-radius: 0.3em;
    font-size: flecss-fontsize("xxs");
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    
    &:not(:first-child) {
        margin-left: flecss-space("s");
    }
}