.card {
    @include flecss_class("p--m");

    position: relative;
    width: 100%;
    background-color: flecss-color("bg-translucent");
    
    &--transparent {
        @include flecss_class("p_v--zero");

        background-color: transparent;
    }

    p, blockquote {
        position: relative;
    }
}