.header {
    h1 {
        position: absolute;
        transform: translateX(-10000px);
        filter: opacity(0);
        pointer-events: none;
        user-select: none;
    }
    p {
        color: flecss-color("fg-gray");
    }
    strong {
        color: flecss-color("fg");
        font-weight: 600;
    }
}