.sidebar {
    --logo-margin-top: 0;
    --logo-margin-bottom: #{flecss-space("xs")};
    --logo-width: 11.5rem;
    --min-width: 14.75rem;

    width: var(--min-width);

    @include flecss_breakpoint--s {
        width: 100%;
    }
    @include flecss_breakpoint--s(true) {        
        &.collapse {
            --logo-margin-top: #{calc(1.25 * flecss-space("m", true))};
            --logo-margin-bottom: 0;
            --logo-width: 6.25rem;
            
            &.scroll .sidebar-fixed {
                overflow-y: scroll;
            }
        }
    }
    
    &-fixed {
        @include flecss_class("p--l");

        position: fixed;
        padding-right: calc(1.25 * flecss-space("xl"));
        min-width: var(--min-width);
        height: 100vh;
        overflow: hidden;

        @include flecss_breakpoint--s {
            position: relative;
            align-items: center;
            padding-bottom: 0;
            padding-right: flecss-space("l");
            width: 100%;
            height: fit-content;
            justify-content: center;
        }
    }
    &-logo {
        display: block;
        margin-top: var(--logo-margin-top);
        margin-bottom: var(--logo-margin-bottom);

        img {
            width: var(--logo-width);
            pointer-events: none;
            user-select: none;
        }
    }
    &-toc {
        padding-left: 0;

        &, ol {
            list-style: decimal;
            counter-reset: item;
            display: flex;
            flex-direction: column;
            gap: 0.15em;

            @include flecss_breakpoint--s {
                gap: 0.55em;
            }
        }
        ol {
            padding-left: flecss-space("s");

            @include flecss_breakpoint--s {
                margin-top: flecss-space("xs");
            }
        }
        li {
            display: block;

            &::before {
                content: counters(item, ".") " ";
                counter-increment: item;
                display: inline-block;
                margin-right: 0.5em;
                color: flecss-color("fg-gray");
                min-width: 0.5em;
                font-size: 0.95em;
                text-align: right;
            }
            & > ol li::before {
                min-width: 1.35em;
            }
            
            &:not(:last-child) > ol {
                margin-bottom: 0.25em;
            }
            
            a {
                color: inherit;
                font-weight: 600;
            }
            code {
                margin-right: 0.25em;
            }
        }
    }
}

html.r .sidebar-logo {
    &, img {
        transition: all 200ms;
    }
}