.sidebar {
    --logo-margin-top: 0;
    --logo-margin-bottom: #{flecss-space("xs")};
    --logo-width: 11.25rem;

    width: 15rem;
    
    @include flecss_breakpoint--s {
        width: 100%;
    }
    @include flecss_breakpoint--s(true) {
        &.collapse {
            --logo-margin-top: #{calc(1.25 * flecss-space("m", true))};
            --logo-margin-bottom: 0;
            --logo-width: 6rem;
            
            &.scroll .sidebar-fixed {
                overflow-y: scroll;
            }
        }
    }
    
    &-fixed {
        @include flecss_class("p--l");
        
        position: fixed;
        padding-top: flecss-space("xl");
        padding-right:  flecss-space("l");
        min-width: 20rem;
        height: 100vh;
        font-size: flecss-fontsize("l");
        overflow: hidden;

        @include flecss_breakpoint--s {
            position: relative;
            padding-bottom: 0;
            width: 100%;
            height: fit-content;
            font-size: flecss-fontsize("l");
        }
    }
    &-logo {
        display: block;
        margin-top: var(--logo-margin-top);
        margin-bottom: var(--logo-margin-bottom);

        img {
            width: var(--logo-width);
        }
    }
    &-toc {
        padding-left: 0;

        &, ol {
            list-style: decimal;
            counter-reset: item;
            display: flex;
            flex-direction: column;
            gap: 0.1em;

            @include flecss_breakpoint--s {
                gap: 0.5em;
            }
        }
        ol {
            padding-left: flecss-space("m");
        }
        li {
            display: block;

            &::before {
                content: counters(item, ".") " ";
                counter-increment: item;
                display: inline-block;
                margin-right: 0.5em;
                color: flecss-color("fg-gray");
                min-width: 0.5em;
                font-size: 0.95em;
                text-align: right;
            }
            & > ol li::before {
                min-width: 1.35em;
            }
            
            &:not(:last-child) > ol {
                margin-bottom: 0.125em;
            }
            
            a {
                color: inherit;

                @include font-title;
            }
            code {
                margin-right: 0.25em;
            }
        }
    }
}

html.r .sidebar-logo {
    &, img {
        transition: all 200ms;
    }
}