.synopsis {
    width: 100%;

    &-syntax {
        margin-top: flecss-space("s");

        td:first-of-type {
            @include flecss_class("p_r--m");
            
            white-space: nowrap;
            width: 0;
        }
        td:last-of-type p {
            font-weight: 500;
        }
    }
    &-figures {
        @include flecss_class("m_t--s");
        @include flecss_class("flex_3--l");

        align-items: flex-end;
        margin-top: flecss-space("s");

        div {
            display: flex;
            flex-direction: column;
            gap: flecss-space("s");

            @include flecss_breakpoint--s {
                align-items: center;
            }
        }
        span {
            white-space: nowrap;
        }
        img {
            width: auto;
            max-height: 20vh;
            pointer-events: none;
            user-select: none;
        }
    }
}