::-moz-selection, ::selection {
    background-color: flecss-color("bg-primary-translucent", "dark");
    color: flecss-color("bg");

    @include flecss_theme--dark {
        background-color: flecss-color("bg-secondary-translucent", "dark");
        color: flecss-color("fg");
    }
} 

html {
    background-color: flecss-color("bg");
    color: flecss-color("fg");
    scroll-padding-top: flecss-space("l");
    scroll-behavior: auto;

    &.r {
        scroll-behavior: smooth;
    }
}

main {
    @include flecss_breakpoint--s {
        gap: 0 !important;
    }
}

a {
    color: flecss-color("primary");

    &[target="_blank"] {
        display: inline-flex;
        align-items: center;
        
        &::after {
            content: "⬈";
            display: inline-block;
            margin-left: 0.125em;
            font-size: 0.75em;
            transform: translateY(-0.375em);
        }
    }
    
    &:hover {
        text-decoration: underline;
    }
}

small, sup {
    font-weight: 300;
}

small {
    color: flecss-color("fg-gray");
    font-size: flecss-fontsize("xxs");
}

sup {
    display: inline-block;
    margin-top: -1rem;
    margin-left: 0.125em;
    font-size: 0.65em;
}

code {
    padding: 0.2em 0.2em;
    background: flecss-color("bg-primary-translucent");
    backdrop-filter: blur(0.5rem);
    color: flecss-color("code");
    font-family: monospace;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1;
}

h2, h3, h4 {
    &, & a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
h2, h3 {
    position: relative;
    
    code, span {
        margin-right: flecss-space("xs");
    }
    & > a {
        cursor: pointer;
        color: inherit;

        &::before {
            content: "⛓";
            position: absolute;
            display: none;
            left: -1.25em;
            font-size: 0.75em;
        }

        &:hover {
            text-decoration: none;
            
            &::before {
                display: block;
            }
        }
    }
    code {
        padding-bottom: 0.05em;
        font-size: 0.75em;
    }
}

blockquote, table, source-code {
    min-width: var(--flecss__max-textwidth);
    
    @include flecss_breakpoint(1080) {
        min-width: 0;
        width: 100%;
    }
}

blockquote, table {
    background: flecss-color("bg-secondary-translucent");
    background: linear-gradient(45deg, flecss-color("bg-secondary-translucent") 0%, flecss-color("bg-secondary-translucent", "light") 100%);
    backdrop-filter: blur(0.5rem);
}

blockquote {
    @include flecss_class("p_v--xs");
    @include flecss_class("p_h--s");
}

table {
    border-spacing: flecss-space("xs");
    
    tr {
        @include flecss_breakpoint--xs {
            display: flex;
            flex-direction: column;
            gap: flecss-space("xs");
            padding-top: flecss-space("s");
        }
    }
    th, td {
        @include flecss_class("p_h--xs");
        
        vertical-align: text-top;
    }
    th {
        text-align: left;
    }

    pre {
        display: inline-block;
    }
}

hr {
    margin: 0;
    visibility: hidden;
}

source-code {
    --color-bg--start: #{flecss-color("bg-primary-translucent")};
    --color-bg--end: #{flecss-color("bg-primary-translucent", "light")};
    --color-bg--translucent: #{flecss-color("bg-primary-translucent")};
    --color-fg--line-number: #{flecss-color("fg-gray")};
    --color-accent: #{flecss-color("bg-secondary-translucent")};
    --border-radius: 0;
    
    font-size: 0.825em;
}