@include class("condition", "c") {

    @include class-member("disable") {
        user-select: none !important;
        pointer-events: none !important;
        opacity: 0.25 !important;
    }

    @include class-member("hide") {
        visibility: hidden !important;
    }
    
    @include class-member("collapse") {
        display: none !important;
    }

}