@include class("margin", "m") {
    @include space(--margin);

    margin: var(--margin);
    
    @include class-member("top", "t") {
        margin-top: var(--margin);
    }
    @include class-member("bottom", "b") {
        margin-bottom: var(--margin);
    }
    @include class-member("left", "l") {
        margin-left: var(--margin);
    }
    @include class-member("right", "t") {
        margin-right: var(--margin);
    }
}