@use "../_util";

@use "./core/class" as *;
@use "./core/modifier" as *;


@include class("padding", "p") {
    @include space-modifier("padding") {
        padding: util.get-property-variable("padding");
    }
    
    @include class-specifier("vertical", "v") {
        @include space-modifier("padding--v") {
            padding-top: util.get-property-variable("padding--v");
            padding-bottom: util.get-property-variable("padding--v");
        }
    }
    @include class-specifier("horizontal", "h") {
        @include space-modifier("padding--h") {
            padding-left: util.get-property-variable("padding--h");
            padding-right: util.get-property-variable("padding--h");
        }
    }
    @include class-specifier("top", "t") {
        @include space-modifier("padding--t") {
            padding-top: util.get-property-variable("padding--t");
        }
    }
    @include class-specifier("bottom", "b") {
        @include space-modifier("padding--b") {
            padding-bottom: util.get-property-variable("padding--b");
        }
    }
    @include class-specifier("left", "l") {
        @include space-modifier("padding--l") {
            padding-left: util.get-property-variable("padding--l");
        }
    }
    @include class-specifier("right", "r") {
        @include space-modifier("padding--r") {
            padding-right: util.get-property-variable("padding--r");
        }
    }
}