@use "../_util";

@use "../core/class" as *;
@use "../core/modifier" as *;


@include class("section", "s") {
    @include space-modifier("section-padding", "m") {
        padding-left: util.get-property-variable("section-padding");
        padding-right: util.get-property-variable("section-padding");
        width: 100%;
    }
}