@use "../_util";

@use "./core/class" as *;
@use "./core/modifier" as *;
@use "../util/functions/fontsize";


@mixin text__fontsize-class-modifier($space-dimension, $space-dimension-shorthand: $space-dimension) {
    @include class-modifier("text-fontsize", fontsize.fontsize($space-dimension), $space-dimension, $space-dimension-shorthand) {
        font-size: util.get-property-variable("text-fontsize");
        
        @content;
    }
}

@mixin text__fontsize-modifier($default-order: "m") {
    @include text__fontsize-class-modifier("extra-extra-small", "xxs") {
        @content;
    }
    @include text__fontsize-class-modifier("extra-small", "xs") {
        @content;
    }
    @include text__fontsize-class-modifier("small", "s") {
        @content;
    }
    @include text__fontsize-class-modifier("medium", "m") {
        @content;
    }
    @include text__fontsize-class-modifier("large", "l") {
        @content;
    }
    @include text__fontsize-class-modifier("extra-large", "xl") {
        @content;
    }
    @include text__fontsize-class-modifier("extra-extra-large", "xxl") {
        @content;
    }
}

@include class("text", "t") {
    @include text__fontsize-modifier("m");

    @include class-specifier("left", "l") {
        @include text__fontsize-modifier {
            text-align: left;
        }
    }
    @include class-specifier("center", "c") {
        @include text__fontsize-modifier {
            text-align: center;
        }
    }
    @include class-specifier("right", "r") {
        @include text__fontsize-modifier {
            text-align: right;
        }
    }
    @include class-specifier("justify", "j") {
        @include text__fontsize-modifier {
            text-align: justify;
        }
    }
}