@include class("wrapper", "w") {
    @include space(--wrapper_padding, "xl");

    margin: 0 auto;
    padding-top: var(--wrapper_padding);
    padding-bottom: var(--wrapper_padding);
    width: 100%;
    max-width: var(--wrapper-width);

    @include class-connect("wrapper", "w") {
        padding-top: 0;
    }
}