@use "../_util";

@use "../variables/constraints" as vars;
@use "../core/class" as *;
@use "../core/modifier" as *;


@include class("wrapper", "w") {
    @include space-modifier("wrapper-padding", "xl") {
        margin: 0 auto;
        padding-top: util.get-property-variable("wrapper-padding");
        padding-bottom: util.get-property-variable("wrapper-padding");
        width: 100%;
        max-width: vars.$max-wrapper-width;
    }
    
    @include class-connect("wrapper", "w") {
        padding-top: 0;
    }
}