@include class("section", "s") {
    @include space-modifier(--flecss__section-padding, "s") {
        padding-left: var(--flecss__section-padding);
        padding-right: var(--flecss__section-padding);
        width: 100%;
    }
}