@include class("text", "t") {
    @include class-specifier("left", "l") {
        text-align: left;
    }
    @include class-specifier("center", "c") {
        text-align: center;
    }
    @include class-specifier("right", "r") {
        text-align: right;
    }
    @include class-specifier("justify", "j") {
        text-align: justify;
    }
}