@use "../../core/class" as *;


@include class("display", "d") {
    @include class-specifier("disable") {
        user-select: none !important;
        pointer-events: none !important;
        opacity: 0.25 !important;
    }
    
    @include class-specifier("hide") {
        visibility: hidden !important;
    }
    
    @include class-specifier("collapse") {
        display: none !important;
    }
}