@use "../../core/class" as *;
@use "../../core/modifier" as *;
@use "../../util/mixins/breakpoint";


@function flex__child-width($m) {
    @return calc((100% / (#{$m} + 0.001)) - (var(--flecss__flex-parent-gap) * (#{$m} - 1) / #{$m}));
}


@mixin flex__partition($n) {
    @include class-specifier($n) {
        @include space-modifier(--flecss__flex-gap, "l") {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: var(--flecss__flex-gap);
            width: 100%;
            height: fit-content;
            
            --flecss__flex-parent-gap: var(--flecss__flex-gap);
            & > * {
                width: flex__child-width($n) !important;

                @if $n > 4 {
                    @include breakpoint.breakpoint--m {
                        width: flex__child-width(4) !important;
                    }
                }
                @if $n > 2 {
                    @include breakpoint.breakpoint--s {
                        width: flex__child-width(2) !important;
                    }
                }
                @if $n > 1 {
                    @include breakpoint.breakpoint--xs {
                        width: flex__child-width(1) !important;
                    }
                }
            }
        }
    }
}

@include class("flex", "f") {
    display:  flex;

    @include flex__partition(1);
    @include flex__partition(2);
    @include flex__partition(3);
    @include flex__partition(4);
    @include flex__partition(5);

    @include class-specifier("horizontal", "h") {
        @include space-modifier(--flecss__flex-gap) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            gap: var(--flecss__flex-gap);
        }
    }
    @include class-specifier("vertical", "v") {
        @include space-modifier(--flecss__flex-gap) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--flecss__flex-gap);
        }
    }

    @include class-specifier("left", "l") {
        @include space-modifier(--flecss__flex-gap, "xl") {
            @include breakpoint.breakpoint--s {                
                & > * {
                    width: 100%;
                }

                flex-wrap: wrap;
            }

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: var(--flecss__flex-gap);
            width: 100%;
            height: fit-content ;
            
            & > *:first-child {
                flex: 1 0 0;
                max-width: 100%;
            }
        }
    }
    @include class-specifier("right", "r") {
        @include space-modifier(--flecss__flex-gap, "xl") {
            @include breakpoint.breakpoint--s {
                & > * {
                    width: 100%;
                }
                
                flex-wrap: wrap;
            }

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: var(--flecss__flex-gap);
            width: 100%;
            height: fit-content;

            & > *:last-child {
                flex: 1 0 0;
                max-width: 100%;
            }
        }
    }
}