html {
    scroll-behavior: smooth;
}

body, header, main, footer {
    display: flex;
    width: 100%;
}

body, main {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 0;
}

@mixin block_content-elements {
    h1, h2, h3, h4, h5, h6,
    p,
    blockquote,
    table,
    ul, ol {
        @content;
    }
}

@include block_content-elements {
    &, & ~ div {
        margin-top: 0;
        margin-bottom: var(--space-m);

        &:last-child {
            margin-bottom: 0
        }
    }
}

div {
    @include class-reuse("flex");

    & + {
        @include block_content-elements {
            margin-bottom: var(--space-m);
        }
    }
}