html {
    font-size: var(--font-size);
    font-weight: 400;
    text-rendering: optimizeLegibility;

    // TODO: Responsive
}

body {
    font-size: 1rem;
}

p, blockquote,
td,
li {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.375em;
    transform: translateY(calc(0.375em / 2));
    font-weight: 600;
    
    &:not(:last-child) {
        margin-top: -0.375em;
    }
}

@mixin typography_size($level: 1) {
    font-size: calc(var(--font-size) * pow(var(--font-factor), 5 - $level));
}

h1 {
    @include typography_size(1);
}
h2 {
    @include typography_size(2);
}
h3 {
    @include typography_size(3);
}
h4 {
    @include typography_size(4);
}
h5, h6 {
    @include typography_size(5);
}