html {
    font-size: var(--flecss__fontsize--l);
    font-weight: 400;
    text-rendering: optimizeLegibility;

    @include flecss_breakpoint--m {
        font-size: var(--flecss__fontsize--m);
    }
    @include flecss_breakpoint--s {
        font-size: var(--flecss__fontsize--s);
    }
}

body {
    font-size: 1rem;
}

p, blockquote,
td,
li {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.375em;
    font-weight: 600;
    transform: translateY(calc(-1 * (0.375em / 2)));
    
    &:not(:first-child) {
        margin-top: calc(0.75 * flecss-space("m"));
    }
    &:not(:last-child) {
        margin-bottom: calc(-1 * (0.375em / 2));
    }
}

@mixin heading-fontsize($level: 1) {
    font-size: flecss-fontsize(7 - $level);
}

h1 {
    @include heading-fontsize(1);
}
h2 {
    @include heading-fontsize(2);
}
h3 {
    @include heading-fontsize(3);
}
h4 {
    @include heading-fontsize(4);
}
h5, h6 {
    @include heading-fontsize(5);
}