@use "../mixins/breakpoint";


:root {
    --flecss__fontsize--l: 18px;
    --flecss__fontsize--m: var(--flecss__fontsize--l);
    --flecss__fontsize--s: 16px;
    --flecss__fontsize: var(--flecss__fontsize--l);
    --flecss__fontsize-factor: 1.25;
    --flecss__headingsize-factor: 1;
    
    @include breakpoint.breakpoint--m {
        --flecss__fontsize: var(--flecss__fontsize--m);
    }
    @include breakpoint.breakpoint--s {
        --flecss__fontsize: var(--flecss__fontsize--s);
    }
}