@use "../mixins/breakpoint";


$fontsize--s: 15px;
$fontsize--m: 16px;
$fontsize--l: 17px;
$fontsize: $fontsize--l;
$fontsize-factor: 1.25;
$headingsize-factor: 0.775;

@include breakpoint.breakpoint--m {
    $fontsize: $fontsize--m;
    $fontsize-factor: 1.175;
}
@include breakpoint.breakpoint--s {
    $fontsize: $fontsize--s;
}