@use "../variables/fontsize" as vars;
@use "../mixins/breakpoint";


$space--l: 1.75rem;
$space--m: 1.6rem;
$space--s: 1.5rem;
$space: $space--l;
$space-factor: 2;

@include breakpoint.breakpoint--m {
    $space: $space--m;
    $space-factor: 1.625;
}
@include breakpoint.breakpoint--s {
    $space: $space--s;
}