@use "../mixins/breakpoint";


:root {
    --flecss__space--l: 1.75rem;
    --flecss__space--m: 1.6rem;
    --flecss__space--s: 1.5rem;
    --flecss__space: var(--flecss__space--l);
    --flecss__space-factor: 1.75;
    
    @include breakpoint.breakpoint--m {
        --flecss__space: var(--flecss__space--m);
    }
    @include breakpoint.breakpoint--s {
        --flecss__space: var(--flecss__space--s);
    }
}

:root {
    --flecss__fontsize--l: 18px;
    --flecss__fontsize--m: var(--flecss__fontsize--l);
    --flecss__fontsize--s: 16px;
    --flecss__fontsize: var(--flecss__fontsize--l);
    --flecss__fontsize-factor: 1.25;
    --flecss__headingsize-factor: 1;

    @include breakpoint.breakpoint--m {
        --flecss__fontsize: var(--flecss__fontsize--m);
    }
    @include breakpoint.breakpoint--s {
        --flecss__fontsize: var(--flecss__fontsize--s);
    }
}