:root {
    --space: 1rem;
    --space-factor: 2.0;

    --font-size: 16px;
    --font-factor: 1.5;
    
    --wrapper-width: 1420px;
}


$breakpoint-s: calc((1/3) * var(--wrapper-width));
$breakpoint-m: calc((2/3) * var(--wrapper-width));
$breakpoint-l: calc(    1 * var(--wrapper-width));