$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;

$wrapper-width: 1360px;

$breakpoint-s: 520px;
$breakpoint-m: 940px;
$breakpoint-l: $wrapper-width;

$font-size: 16px;
$font-scale-factor: 1.125;